          <a id="logo"
            href="{{ .Site.Params.landingPageURL | default "/" | relLangURL }}"
            style="
              color: #29a119;
              font-family: 'Work Sans', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
              font-size: 30px;
              font-weight: 300;
              margin-top: -2px;
              text-transform: uppercase;
            ">
            <img src="/images/logo_dawico.png" alt="Logo de Dawico">
            2021/2022
          </a>